server:
  port: 8082
  forward-headers-strategy: framework
spring:
  security:
    user:
      name: ${SECURITY_USERNAME}
      password: ${SECURITY_PASSWORD}
    oauth2:
      authorizationserver:
        issuer: http://${LOCAL_IP}
        client:
          oidc-client:
            registration:
              client-id: ${CLIENT_USERNAME}
              client-secret: ${CLIENT_SECRET}
              client-authentication-methods:
                - client_secret_basic
                #- client_secret_post
              scopes:
                - openid
                - profile
                - email
              authorization-grant-types:
                - authorization_code
                - urn:ietf:params:oauth:grant-type:native
                - refresh_token
              redirect-uris:
                - http://${LOCAL_IP}:8083/oauth2/callback
                - https://wombed-intramuscular-lanell.ngrok-free.app/oauth2/callback
                - https://oidcdebugger.com/debug
            require-authorization-consent: false
            require-proof-key: true
            token:
              access-token-time-to-live: 16h
              refresh-token-time-to-live: 30d
              reuse-refresh-tokens: false
              access-token-format: self-contained
logbook:
  filter:
    enabled: false
  format:
    style: http
logging:
  level:
    root: INFO
    org.zalando.logbook: TRACE
    org.springframework.security: TRACE
    org.hibernate.orm.connections.pooling: INFO
    org.hibernate.orm.jdbc.extract: DEBUG
